@media only screen and (max-width: 767px) {
    .desktop-only {
        display: none;
    }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, rgb(193, 59, 193), rgb(247, 160, 174));
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  padding: 64px;
}

h1 {
  font-size: 96px;
  margin: 96px;
  text-align: center;
}

.gallery {
  background: linear-gradient(
    60deg,
    rgba(252, 131, 214, 0.1),
    rgba(238, 83, 161, 0.5)
  );
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 64px;
}

.thumbnail {
  border: solid 3px rgba(253, 0, 131, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  max-height: 200px;
  max-width: 300px;
  overflow: hidden;
  margin: 32px;
  transform: scale(1);
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.2);
}

.thumbnail img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

                

.popup {
  align-content: center;
  animation: fadeIn 0.3s;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.popup.hidden {
  display: none;
}

.popup__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 128px;
  position: fixed;
  top: 64px;
  right: 64px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.popup__close:hover {
  opacity: 1;
}

.popup.fade-out {
    animation: fadeOut 0.3s both;
}

.popup__img {
  max-height: 80%;
  max-width: 80%;
}

.popup__arrow {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: 128px;
  height: 128px;
  line-height: 128px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s;
  width: 128px;
}

.popup__arrow:hover {
  opacity: 1;
}

.popup__arrow--left {
  left: 5%;
  background: transparent;
}

.popup__arrow--right {
  right: 5%;
  background: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
